.head {
  color: #ffff;
  padding-top: 200px;
  background-image: url(../Images/backgrounds/h_img.jpg);
  background-size: cover;
}

.head img:first-of-type {
  margin-bottom: 60px;
}

.head p {
  margin-bottom: 136px;
}

.services {
  color: #ffff;
  padding: 115px 0;
  background-image: url(../Images/backgrounds/s_image.jpg);
  background-size: cover;
}

.contact {
  background-image: url(../Images/backgrounds/c_image.jpg);
  background-size: cover;
}

.overlay {
    color: #ffff;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #000;
  text-align: center;
  padding: 60px;
  margin-top: -190px;
  margin-left: 26px;
  width: 16%;
  height: 27%;
}

.message p{
    line-height: 15px;
}
